body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{
    
    height:300px;
    width:470px;
    margin-top:-10px;
}
.carded{
    margin-left: 420px;
    border-radius: 2px;
    width:470px;
    border: 17px solid orangered;
}
.head{
  color:white;
  font-size:25px;
  margin-left:23px;
}
.images{
    height:120px;
    width:158px;
}
.paragraph{
    font-size:23px;
    font-family: "Roboto";
    color:white;
    margin-left:10px;
    margin-top:-19px;
     
}
.imaged{
    height:90px;
    width:100px;

}
.container{
    background-color:rgb(4, 4, 22);
    height:245px;
    width:470px;
    margin-top: -38px;
}
.heading{
    color:white;
    margin-left:50px;
    padding-top:13px;
}
.para{
    font-size:22px;
    color:white;
    margin-top:-10px;
      margin-left:23px;
}
.card{
    background-color:rgb(6, 19, 31);
    height:120px;
    width:470px;
    margin-top:-20px;
}
.cards{
    background-color:rgb(8, 8, 39);
    height:500px;
    width:470px;
    
}
.paras{
     font-size:20px;
     padding:22px;
     margin-top:20px;
     width:455px;
     color:white;
     margin-left:-20px;
}
.paragraphs{
 color:white;
 margin-top:-23px;  
 font-size:23px;
 margin-left:23px;
}
.style{
 margin-top: -20px;
}